$butonbackground3:#E8F7E9;
$butoncolor2:#097038;

$color-black: #00000000;
$color-100: #262B39;
$color-10: #F8F9FB;
$color-05: #F9FAFC;
$color-danger: #E83F2E;
$color-secondary: #0273DC;
$color-secondary-light: #F0F7FD;
$color-tertiary: #FF8400;
$color-80: #495057;
$color-90: #2E3649;
$color-white: #FFFFFF;
$color-success: #66BB6A;
$color-primary-light: #FFF4F4;
$color-20: #F1F3F5;
$color-30: #E9ECEF;
$color-50: #CED4DA;
$color-40: #DEE2E6;
$color-dark: #343A46;
$color-70: #868E96;
$color-light: #A2A8B6;
$color-default: #45516D;
$color-primary: #FF3200;
$color-60: #ADB5BD;